body {
    background-image: url("../images/star-wars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    /* height: 100vh;
    max-width: 1920px;
    max-height: 1200px; */
    background-position: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(10, [col] 10vw);
    grid-template-rows: repeat(10, [row] 10vh);
    /* width: 1920;
    height: 1200; */
}

.jediSaber {
    grid-column: 3;
    grid-row: 7;
    z-index: 1;
    padding-left: 30px;

}

.sithSaber {
    grid-column: 6;
    grid-row: 7;
    z-index: 1
}



/* .character {
    border-radius: 50%;
    width: 20vw;

overflow: hidden;
align-content: center;
background-color: white;


}

.card img {
width: 100%; 
height: auto;
background-size: cover;
} */


.jediDeck {
    /* background-color: violet; */
    grid-column: col 1 / span 10;
    grid-row: row 1 / span 2;
    padding: 5% 3%;
    z-index: 5;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sithDeck {
    grid-column: col 1 / span 10;
    grid-row: row 9;
    padding: 0% 3%;
    padding-top: 50px;
    /* background-color: beige; */
    z-index: 5;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

.character {
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    /* height: 10vw; */
    overflow: hidden;
    align-content: center;
    /* background-color: rgba(255, 255, 255, 0.3); */
}

.jediDeck>.character {
    background-color: rgba(255, 255, 255, 0.8);
}

.character img {
    width: 20vw;
    height: 20vw;
    background-size: cover;
    opacity: 0.3;
}

.character img:hover{
    opacity: 1;
}


.character img::selection{
    opacity: 1;
}
.display-avatar {
    grid-row: row 4 / span 6;
    grid-column: col 1 /span 10;
    background-color:  rgba(0, 0, 0, 0.903);

    display: grid;
    grid-template-rows: repeat(10, [row] 10%);
    grid-template-columns: repeat(10, [col] 10%);
    position: relative;
    top: -20px;
}

.full-avatar {
    grid-row: row 1 / span 8;
    grid-column: col 2 / span 8;
    /* background-color:  rgba(0, 0, 0, 0.753); */
    position: relative;
}

.full-avatar > img {
    width: 100%;
    justify-content: top;
}

.nameTag {
    color: white;
    grid-column: col 2 / span 8;
    grid-row: row 3;
    font-size: 5vw;;
    text-align: center;
}

#health, #label-health{
    grid-row: row 9;
    grid-column: col 1 / span 3;
    margin-left: 2vw;
}

#attack, #label-attack{
    grid-column: col 4 / span 4;
    margin-left:  5vw;
    margin-right:  5vw;
}

#counter, #label-counter{
    grid-column: col 8 / span 3;
    margin-right: 2vw;
}

#label-health, #label-counter,#label-attack  {
    grid-row: row 9;
    font-size: 0.8rem;
    color: white;
    /* margin: 0px; */
    text-align: center;
    padding: 0;
}
#health, #attack, #counter {
    grid-row: row 9;
    margin-top: 5vw;
    padding: 0;
}

.select {
    grid-row: row 7;
    grid-column: col 5 / span 2;
    text-align: center;
    height: 50px;
    margin-top: 30px;

}



.instruction {
    grid-row: row 8;
    padding-top: 20px;
    grid-column: col 2 / span 8;
    text-align: center;
    justify-content: center;
    justify-items: baseline;
    color: white;
    z-index: 10;
   
}



.jediSaber {
    grid-column: col 1 / span 3;
    grid-row: 7;
    padding-top: 20px;
    /* padding-left: 35px; */
    text-align: center;
    justify-content: center;
    justify-items: baseline;
    align-content: center;

}

.sithSaber {
    grid-column: col 8 / span 3;
    grid-row: 7;
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    justify-items: baseline;
}













.label {
    /* width: 100px; */
    /* text-align: right; */
    padding-right: 0 2px;
    font-size: 10px;
    font-weight: bold;
}

.progress {
    margin-bottom: 1px;
}

#deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hide {
    display: none;
}

